header
{
    text-align: center;
}

header h1, h2
{
    color: rgba(220, 218, 216, 1);
}

body
{
    display: flex;
    font-style: normal;
    flex-direction: column;
    font-family: "Marcellus SC",'fallback', Helvetica, Arial, sans-serif;

    background-color: black;
}

main
{
    display: grid;
    grid-template-columns: 35% auto;
    margin: 0% 4% 0% 4%;
    padding: 1% 1% 1% 1%;

    height: 370px;
    width: auto;
    max-width: 50%;
    position: relative;
}

div
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

#mainMenu
{
    background-color: rgba(50, 50, 50, 0.5);
    margin: 5px 0px 5px 5px;
    border-radius: 5px;

    border-top: solid 5px rgba(201, 180, 141, 1);
    border-bottom: solid 5px rgba(201, 180, 141, 1);

    box-shadow: 2px 2px 5px black;
    width: 90%;
}

.subject
{
    position: absolute;
    left: 33%;
    top: 3%;
    width: 40%;
    height: auto;
    background-color: rgba(40, 40, 40, 1);
    margin: 5px 5px 5px 0px;
    border-radius: 2px;

    border-top: solid 2px rgba(201, 180, 141, 1);
    border-bottom: solid 2px rgba(201, 180, 141, 1);
    border-left: solid 2px rgba(201, 180, 141, 1);

    box-shadow: 2px 2px 5px black;
    display: none;
}

ul
{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 100%;
}

li
{
    display: inline-flex;
    width: 100%;
    margin: 5px;
    justify-content: center;
}

a
{
    color: rgba(171, 150, 111, 1);
    text-decoration: none;
}

ul a
{
    width: 80%;
    padding: 5px;
    border: solid 3px rgba(0,0,0,0);
	transition: border-radius 0.25s, color 1s, text-shadow 1s;
}

ul a:hover, .selected
{
    font-weight: bold;
	color: rgba(255, 255, 255, 1);
	text-shadow: 2px 2px 8px rgba(200, 198, 196, 0.75);
	border: solid rgba(201, 180, 141, 1) 3px;
	border-radius: 20px;
}

.selected
{
    background-color: rgba(80, 80, 80, 0.5);
}

h3
{
    margin: 0px;
    padding:7px 5px 2px 5px;
    color: rgba(220, 218, 216, 1);
    text-shadow: 2px 2px 3px rgba(180, 178, 176, 0.5);

    border-bottom: solid 2px rgba(201, 180, 141, 1);
    border-radius: 10px;
}

#P1Menu
{
    width: 90%;
    padding-bottom: 15px;
    border-bottom: solid rgba(201, 180, 141, 1) 2px;
}

iframe
{
    height: 100%;
    width: 100%;
    background-color: white;

    border-top: solid 7px rgba(201, 180, 141, 1);
    border-bottom: solid 7px rgba(201, 180, 141, 1);
    border-left-style: none;
    border-right-style: none;
    border-radius: 5px;
}

#mainFrame
{
    height: 100%;
    width: 230%;
    display: none;
    position: relative;
}

#closeFrame
{
    right: 1.7%;
    top: 8px;
    position: absolute;
    background-color: black;
    border: ridge 2px rgba(201, 180, 141, 1);
    padding: 3px 5px 3px 5px;
}
