body
{
  display: flex;
  flex-direction: column;
}

main
{
  display: grid;
  grid-template-columns: auto auto auto; 
  
  margin: 0% 3% 0% 3%;
  padding: margin: 0% 2% 0% 2%;
}

.subject
{
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  text-align: center;
}

.subject ul
{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
}
