body
{
		margin-left: 2%;
		margin-right: 2%;
}

#wrapper
{
	display: grid;
	grid-template: 	"head head head" auto
                 	"nav  main aside" auto
                 	"foot foot foot" auto
                 	/ 20% 60% 20%;
}
<<<<<<< HEAD
=======
article
{
	display: grid;
	grid-template: 	"head head 	head" auto
                 	"cont main 	aside" auto
                 	"cont lower aside" auto
                 	"foot foot 	aside" auto
                 	/ auto;
}
>>>>>>> 7487ab9ab52d744adb7619a94d50c41ec50d3f47
header
{
    grid-area: head;
	display: grid;
	grid-template: 	"cont . 	top" auto
					"cont . 	aside" auto
					"cont foot 	foot" auto
					/ 30% 20% 50%;
	margin-left: 5%;
}


#page-footer
{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	border-top-style: solid;
	border-top-width: 2px;
}
#page-footer ul
{
	margin-left: -50px;
}

#whats-new
{
	display: grid;
	grid-template: 	"head head" auto
                 	"cont main" auto
                 	"cont aside" auto
                 	"foot foot" auto
                 	/ auto;
}
#whats-new figure, .header-main
{
	grid-area: cont;
}

.header-aside
{
	grid-area: aside;
	text-align: right;
}

header ul
{
	grid-area: top;
	text-align: right;
}

.inline-list li
{
	display: inline-block;
	padding-right: 10px;
	padding-left: 10px;
	border-right-style: solid;
	border-right-width: 2px;
}

.inline-list .last-item
{
	border-right-style: none;
}

nav
{
	grid-area: nav;
}

#top-menu li
{
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 2px 50px 2px 50px;
	border-style: solid;
	border-width: 2px;
}

#sidebar
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
#sidebar-menu
{
	padding-left: 0px;
	min-width: 250px;
}
#sidebar-menu li
{
	display: block;
	margin-top: 10px;
	padding: 2px 10px 2px 5px;
	border-style: solid;
	border-width: 2px;
}

#most-popular ul
{
	list-style-type: none;
	border-width: 2px;
	border-style: solid;
	background-color: #BBBEC4;
	width: auto;
	padding: 10px 5px 10px 5px;
}
#most-popular li:before
{
	content: ">";
	padding-right: 8px;
}

article
{
	background-color: #BBBEC4;
	padding: 5px 15px 5px 5px;
	margin: 10px 5px 10px 5px;

	width: 90%;
}

main, #whats-new h2
{
    grid-area: main;
}

main
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

aside
{
    grid-area: aside;
}

article p
{
	grid-area: lower;
}

aside
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	padding: 0px 0px 0px 0px;
}

#main-spotlight
{
	position: relative;
}
#main-spotlight-text
{
	position: absolute;
	bottom: 15%;
	right: 12%;
	background-color: rgba(200, 200, 200, 0.75);

	padding: 5px 2px 5px 2px;
}

.small-spotlight
{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;

	width: 15em;
	background-color: #BBBEC4;
	height: 110px;
}

.small-spotlight figure
{
	grid-area: a;
	margin: 5px 5px 5px 5px;
}

.small-spotlight h4
{
	grid-area: b;
	margin: 5px 5px 5px 5px;
}

.date-list
{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	margin: 0px 2% 0px 2%;
}
.date-list ol
{
	min-width: 15em;	
	padding: 0px 2px 0px 2px;
}
.date-list ul
{
	padding: 0px 2px 0px 2px;
}
.date-list li
{
	display: table-row;
	height: 2em;
	max-height: 3em;
	text-overflow: ellipsis;
}

footer, #top-menu
{
	grid-area: foot;
}


p
{
	padding: 2px 2px 2px 2px;
	margin: 2px 2px 2px 2px;
}

h2, h3, h4
{
	margin: 5px 5px 5px 0px;
}
