body
{
	font-family: "Marcellus SC",'fallback', Helvetica, Arial, sans-serif;
	font-style: normal;

	background-color: rgba(101, 101, 101, 1);
	background-image: url("./img/MP.jpg");
	background-attachment:fixed;

	display: flex;
	flex-direction: column;
}

#wrapper
{
	display: grid;
	grid-template:
                 	"nav  main aside" auto
                 	"foot foot foot" auto
                 	/ auto 60% auto;
	grid-column-gap: 0px;

	margin: 0px 2% 0% 2%;

	padding: 2% 2% 2% 2%;

	border-top: solid 5px rgba(171, 150, 111, 1);
	border-radius: 10px;
	background-color: rgba(61, 61, 61, 0.75);
}

article
{
	display: grid;
	grid-template: 	"head head 	head" auto
                 	"cont main 	aside" auto
                 	"cont lower aside" auto
                 	"foot foot 	foot" auto
                 	/ auto auto auto;
}
header
{
    grid-area: head;
	display: grid;
	grid-template: 	"cont . 	top" auto
					"cont . 	aside" auto
					"cont foot 	foot" auto
					/ 30% 20% 50%;
	margin: 0% 2% 2% 2%;
}

#page-footer
{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	background-color: rgba(51, 51, 51, 1);


	margin: 10% 2% 0% 2%;
	border-top: solid 2px;
}

#whats-new figure, .header-main
{
	grid-area: cont;
}

.header-aside
{
	grid-area: aside;
	text-align: right;
}

header ul
{
	grid-area: top;
	text-align: right;
}

.inline-list li
{
	display: inline-block;
	padding: 2px 10px 2px 10px;
	border-right: solid rgba(171, 150, 111, 1) 3px;
}

.buttoned-list a
{
	text-decoration: none;
	border: solid black 3px;
	background-color: rgba(51, 51, 51, 1);
	border-radius: 2px;
	transition: border-radius 0.25s, color 1s, text-shadow 1s;
}

.buttoned-list a:hover
{
	text-decoration: none;
	font-weight: bold;
	text-shadow: 2px 2px 8px rgba(30, 30, 30, 1);
	border: solid rgba(201, 180, 141, 1) 3px;
	border-radius: 20px;
}

.inline-list .last-item
{
	border-right-style: none;
}

nav
{
	grid-area: nav;
}

#top-menu li
{
	display: inline-block;
	margin-bottom: 10px;
	text-align: center;
}

#top-menu a
{
	display: block;
	width: 200px;
	padding: 2px 0px 2px 0px;
}

#sidebar
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
#sidebar-menu
{
	padding-left: 0px;
	width: 80%;
	max-width: 350px;
}
#sidebar-menu li
{
	padding: 2px 0px 2px 0px;
	margin-top: 5px;
}
#sidebar-menu a
{
	display: block;
	box-sizing: content-box;
	padding: 4px 10px 4px 5px;
}

#most-popular ul
{
	border: solid rgba(171, 150, 111, 1) 2px;
	background-color: rgba(0, 0, 0, 0.75);
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 1);
	width: 100%;
	padding: 10px 15px 10px 5px;
}
#most-popular li:before
{
	content: " ";
	color: rgba(171, 150, 111, 1);
	padding-right: 8px;
	width: 100%;
}
#most-popular li:hover:before
{
	content: ">";
	color: rgba(171, 150, 111, 1);
	padding-right: 3px;
}

article
{
	background-color: rgba(51, 51, 51, 0.75);
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 1);

	padding: 5px 15px 15px 5px;
	margin: 10px 5px 10px 5px;

	border-top: solid rgba(171, 150, 111, 1) 5px;
	border-bottom: solid rgba(171, 150, 111, 1) 5px;

	border-radius: 5px;

	width: 90%;
}

article header
{
	border-bottom: solid 2px rgba(211, 190, 151, 1);
	padding: 0px 10px 0px 10px;
	border-radius: 20px;
}

article p
{
	grid-area: lower;
}

main, #whats-new h2
{
    grid-area: main;
}

main
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

aside
{
    grid-area: aside;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	padding: 0px 0px 0px 0px;
}

#main-spotlight
{
	position: relative;
}
#main-spotlight-text
{
	position: absolute;
	bottom: 15%;
	right: 12%;
	background-color: rgba(0, 0, 0, 0.75);
	text-align: center;
	padding: 5px 2px 5px 2px;
	border: solid 2px rgba(0, 0, 0, 1);
}

.small-spotlight
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	width: 15em;
	background-color: rgba(51, 51, 51, 0.75);
	height: 110px;
}

.small-spotlight figure
{
	margin: 5px 5px 5px 5px;
}

.date-list
{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	margin: 0px 2% 0px 2%;
}
.date-list ol
{
	min-width: 10em;
	padding: 0px 2px 0px 2px;
}
.date-list li
{
	display: table-row;
	height: 2em;
	max-height: 3em;
	text-overflow: ellipsis;
}

footer, #top-menu
{
	grid-area: foot;
}


p, ol li
{
	color: rgba(180, 178, 176, 1);
	text-shadow: 1px 1px 8px rgba(0, 0, 0, 1);
}

a
{
	color: rgba(171, 150, 111, 1);
	text-decoration: none;
	text-shadow: 1px 1px 8px rgba(0, 0, 0, 1);
}

a:hover
{
	text-decoration: underline;
}

p
{
	padding: 2px 2px 2px 2px;
	margin: 2px 2px 2px 2px;
}

h1, h2, h3, h4
{
	color: rgba(220, 218, 216, 1);
	text-shadow: 2px 2px 3px rgba(180, 178, 176, 0.5);
	margin: 5px 5px 5px 0px;
	transition: color 0.75s, text-shadow 0.75s;
}

article:hover h1, article:hover h2, .spotlight:hover h3, .spotlight:hover h4, .buttoned-list a:hover
{
	color: rgba(255, 255, 255, 1);
	text-shadow: 2px 2px 8px rgba(2000, 198, 196, 0.75);
}

ul
{
	list-style-type: none;
    padding-inline-start: 0px;
}

input
{
	box-shadow: 2px 2px 8px black;
}
.header-aside a
{
	text-shadow: 2px 2px 8px black;
}
